<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img src="http://www.cadif1.com/img/template/logo-cadif1.png"></ion-img>
    <ion-item-group>
      <ion-item>
        <ion-label>
          La Academia
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Certificacion
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Empleos
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Contacto
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Iniciar Sesion
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true">


    <swiper-container [loop]="true" [pagination]="true">
        <swiper-slide>
            <ion-img class="swiper-slide" src="https://www.cadif1.com/img/sliders/cbdc9-fundamentosde-lectronicayelectricidad.jpg"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img class="swiper-slide" src="https://www.cadif1.com/img/sliders/02c52-slider-carreras-tecnicas.jpg"></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="swipper-slide" src="https://www.cadif1.com/img/sliders/417ee-slider-frontend-junior.jpg"></ion-img>
        </swiper-slide>
    </swiper-container>

    <div id="data">
        <div>
            <ion-thumbnail><ion-icon name="layers"></ion-icon></ion-thumbnail>
            <ion-text>Carreras Técnicas</ion-text>

            <ion-text class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores optio quaerat enim corporis.</ion-text>

        </div>
        <div>
            <ion-thumbnail><ion-icon name="laptop-outline"></ion-icon></ion-thumbnail>
            <ion-text>Cursos Especializados</ion-text>

            <ion-text class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate qui alias hic!</ion-text>

        </div>
        <div>
            <ion-thumbnail><ion-icon name="alert-circle"></ion-icon></ion-thumbnail>
            <ion-text>Asesorías Técnicas</ion-text>

            <ion-text class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia obcaecati sapiente.</ion-text>

        </div>
        <div>
            <ion-thumbnail><ion-icon name="briefcase"></ion-icon></ion-thumbnail>
            <ion-text>Alquiler de Salones</ion-text>

            <ion-text class="p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore illum adipisci praesentium incidunt consectetur.</ion-text>

        </div>
    </div>
</ion-content>
