<header class="main-header">
  <figure>
    <img src="https://uploads-ssl.webflow.com/627eccaab96d0621ae273f80/627eced6b6ff71befd80e2d9_ymy_hdr_logo.png" loading="lazy" alt="" sizes="(max-width: 479px) 96px, 120px" srcset="https://uploads-ssl.webflow.com/627eccaab96d0621ae273f80/627eced6b6ff71befd80e2d9_ymy_hdr_logo-p-500.png 500w, https://uploads-ssl.webflow.com/627eccaab96d0621ae273f80/627eced6b6ff71befd80e2d9_ymy_hdr_logo.png 1060w" class="yummy-image">
  </figure>
  <figure (click)="colocar()">
    <img src="https://uploads-ssl.webflow.com/627eccaab96d0621ae273f80/628b8e8bb926d56a92028a04_menu.svg" loading="lazy" data-w-id="ec5ef9e2-366e-156a-7740-b34137c61a13" alt="" class="yummy-hamburguer-menu">
  </figure>
  <div class="menu bg-danger">
    Hola
  </div>
</header>
