
header{
  display: flex;
  width: 100vw;
  justify-content: space-between;
}
.yummy-hamburguer-menu{
  width: 1.7rem;
  height: 1.7rem;
  cursor: pointer;

}
.yummy-hamburguer-menu:hover{
  background-color: red;
  --status: block;

}
.menu{
  --status: none;
  width: 100vw;
  height: 100vh;
  background-color: green;
  position: absolute;
  top: 0;
  display: var(--status);
}
